name: Master Build

on:
  push:
    branches: 
      - master

jobs:

  build:
    strategy:
      matrix: 
        os: [ubuntu-latest, macos-latest, windows-latest]
  
    name: Testing ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
  
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.201

    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
